.problemas {
    width: 100%;
    padding: 2.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    @media (max-width: 768px){
        gap: 30px;            
    }

    & > article {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5%;

        @media (max-width: 768px){
            flex-direction: column;
            gap: 50px;
        }

        & h1 {
            gap: 10px;
            font-size: 36px;
            line-height: 110%;
            font-weight: 300;
            width: 60%;

            & strong {
                font-weight: 400;
                color: var(--color--blue);
            }

            @media (max-width: 768px){
                width: 90%;
                font-size: 28px;
                text-align: center;
            }

            & img {
                width: 3em;
                display: inline;
                vertical-align: middle;
            }
        }

        & aside {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            gap: 20px;

            & span {
                font-weight: 500;
                font-size: 20px;
                padding-right: 105px;

                @media (max-width: 768px){
                    padding-right: 95px;
                }
            }

            & p {
                font-weight: 300;
                font-size: 18px;
                color: var(--color--blue);
            }

            & ul {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: max-content;
                width: auto;

                & li {
                    position: absolute;
                    
                    &:nth-child(1){
                        right: 5px;
                    }

                    &:nth-child(2){
                        right: 20px;
                    }

                    &:nth-child(3){
                        right: 35px;
                    }

                    &:nth-child(4){
                        right: 50px;
                    }

                    &:nth-child(5){
                        right: 65px;

                        & img {
                            border-color: #fff;
                        }
                    }

                    & img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 2px solid #fff;

                        @media (max-width: 768px){
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

    & > header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        & h1 {
            font-size: 34px;
            width: 65%;
            font-weight: 300;
            text-align: center;

            @media (max-width: 768px){
                width: 100%;
                font-size: 28px;    
            }

            & b {
                font-weight: 400;
                color: var(--color--red);
            }
        }

        & p {
            font-size: 18px;
            font-weight: 300;
        }
    }

    & > aside {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;

        & ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 15px;

            @media (max-width: 768px){
                flex-direction: column; 
                gap: 25px;   
            }

            & li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                text-align: center;
                transition: all .5s ease-in-out!important;
                padding: 15px;
                border-radius: 20px;

                &.active{
                    box-shadow:  5px 5px 10px #cccccc,
                    -5px -5px 10px #ffffff;
                           transform: translateY(-5px)!important;
                           cursor: url('https://imagedelivery.net/1n9Gwvykoj9c9m8C_4GsGA/4614c2b6-8cdd-44ea-a33a-fdf0fba56d00/public'), auto;
                }

                &:hover {
                    box-shadow:  5px 5px 10px #cccccc,
             -5px -5px 10px #ffffff;
                    transform: translateY(-5px)!important;
                    cursor: url('https://imagedelivery.net/1n9Gwvykoj9c9m8C_4GsGA/4614c2b6-8cdd-44ea-a33a-fdf0fba56d00/public'), auto;
                }

                @media (max-width: 768px){
                    flex-direction: row;
                    text-align: left;
                    padding: 10px;
                    border-radius: 40px 20px 20px 40px;   
                }

                & img {
                    border: 1px solid red;
                    width: 75px;
                    height: 75px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }

                & p {
                    font-size: 16px;
                    font-weight: 300;
                    width: 80%;

                    & b {
                        font-weight: 400;
                        color: var(--color--red);
                    }
                }
            }
        }
    }
}